<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>382853132458-qa601vnvseqt2jb55bf9v2ucpgb8qed4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.382853132458-qa601vnvseqt2jb55bf9v2ucpgb8qed4</string>
	<key>API_KEY</key>
	<string>AIzaSyBlj4REpR281sKUTYuhkepgTvd0uCrhXis</string>
	<key>GCM_SENDER_ID</key>
	<string>382853132458</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chat</string>
	<key>PROJECT_ID</key>
	<string>chat-flutter-rr-2023</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-flutter-rr-2023.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:382853132458:ios:27d877237bc275344060d3</string>
	<key>DATABASE_URL</key>
	<string>https://chat-flutter-rr-2023-default-rtdb.firebaseio.com</string>
</dict>
</plist>